body {
background-color: white;
}

* {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  
  }

.bottom-main {
  width: 100%;
  margin: auto ;
  padding-bottom: 94px;
  text-align: center;
  background-color:#f5f6f7;
  
  }

  .image {
    width: 100%;
  }

.links {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  
  margin: 32px 0px 35px 0px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  }

 a {
  margin-left: 62px;
  color:rgb(201, 190, 190);
  text-decoration: none;
  }
  /* a:last-child {
    margin : 0px;
  } */
 
a:hover {
   text-decoration: underline;
}

.upper-back {
  background-color: rgb(65, 56, 56);
  display: inline-block;
 
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  width: 100%;
  }

  

.header {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 34px;
  }

  .text {
 
  display: block;  
  text-align: center;
  text-indent: 20px;
  font-size: 16px;
  line-height: 20px;
  width: 1059px;
  height: 280px;
  margin: 0px auto 0px auto;
}


.button{

  display: inline-block;
  background-color: #16a085;
  border-radius: 5px ;
 /*  background-image: url("./button01.png"); */
  /* width: 192px;
  height: 51px; */
  padding: 0 25px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 41px auto 0px auto;
  
}

.butt-tex {
  display: inline-block;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
  margin: 0px;
  text-align: center;
  }

  .end-text{ 
  display: inline-block;
  font-size: 16px;
  width: 1280px;
  padding: 47px 0px 45px 0px;
  /* margin-left: 120px; */
  text-align: right;
  background-color: white;
}

