  @import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans&display=swap');


  .table {
    margin: 0 auto;
    width: 1192px;
    font-family: Arimo, sans-serif;
    border: 22px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
    
  }

  th {
    vertical-align: middle;
    height: 69px;
    font-size: 16px;
    font-weight: bold;
    color: #525252;
    border-top: none;
    border-bottom: none;
    outline: none;
  }

  tr {
    border-top: none;
    border-bottom: none;
  }

  td {
    vertical-align: middle;
    height: 69px;
    font-size: 16px;
    font-weight: bold;
    color: #9d9d9d;
    border-top: none;
    border-bottom: none;
   
  }

  th:first-child, td:first-child {
    border-left: 2px solid #d4d4d4;
    border-top: none;
    border-bottom: none;
    box-shadow: 3px 0 0px #ebebeb;
  }
  th:first-child, td:last-child {
    border-left: 2px solid #d4d4d4;
    border-top: none;
    border-bottom: none;
    box-shadow: 3px 0 0px #ebebeb;
  }
  td:nth-child(3), th:nth-child(3){
    border-left: 2px solid #d9d9d9;
    border-top: none;
    border-bottom: none;
    box-shadow: 3px 0 0px #ebebeb;
  }
  td:nth-child(2), th:nth-child(2){
    border-left: 2px solid#d4d4d4;
    border-top: none;
    border-bottom: none;
    box-shadow: 3px 0 0px #ebebeb;
  }

  /* Заголовок */
  .thead {
    color: #484848;
  }

  th:nth-child(1) {
    font-size: 18px;
  }

  th>span {
    font-size: 30px;
  }


  tr:last-child>th {
    font-size: 60px;
    color: #484848;
  }

  tr:last-child>th:before {
    content: '\0024';
  }

  tr:last-child>th:after {
    content: 'Per Month';
    text-transform: uppercase;
    color: #a1a1a1;
    font-size: 18px;
  }

  sup {
    font-size: 24px;
    vertical-align: top;
  }

  tr:first-child>th:nth-child(2) {
    background-color: #89c331;
    font-size: 24px;
    color: white;
  }

  tr:first-child>th:nth-child(3) {
    background-color: #f04a56;
    font-size: 24px;
    color: white;
  }

  tr:first-child>th:nth-child(4) {
    background-color: #20807c;
    font-size: 24px;
    color: white;
  }


  /* Секция для контента */

  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  tbody tr:nth-child(even) {
    background-color: #e3e3e3;
  }


  /* Футер */
  tfoot tr:first-child {
    height: 110px;
  }

  .but {
    padding: 18px 57px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }

  tfoot tr:first-child td:nth-child(1) {
    background-color: #dddddd;
  }

  tfoot tr:first-child td:nth-child(2) {
    background-color: #eeeeee;
  }

  tfoot tr:first-child td:nth-child(3) {
    background-color: #f4f4f4;
  }

  tfoot tr:first-child td:nth-child(4) {
    background-color: #eeeeee;
  }





  .but1 {
    background-color: #484848;
  }

  .but2 {
    background-color: #89c331;
  }

  .but3 {
    background-color: #f04a56;
  }

  .but4 {
    background-color: #20807c;
  }


  /* Иконки с font-awesome */
  .fab {
    font-size: 18px;
  }

  .fab {
    margin-right: 12px;
  }

  .fas {
    margin-right: 12px;
  }


