.container {

  height: 768px;
  font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
  background-image: url(../img/back-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.yellow-text {
  color: #3cb878;
  text-decoration: none;
}


/* Верхняя панель */

.nav-bar {
  background-color: rgba(0, 0, 0, 0.42);
  color: white;
  /* padding: 22px 75px 19px 81px; */
  width: 100%;
  height: 8%;
  position: relative;
}


.nav-bar>h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s ease-in-out;
  padding-top: 22px;
  padding-left: 80px;
  cursor: pointer;
}

.nav-bar>h1:hover {
  color: #3cb878;
}

.nav-bar-options {

  padding-top: 22px;
  float: right;
  position: relative;
  cursor: pointer;
  margin-right: 75px;
}



.nav-bar-options>p::after {
  content: '';
  width: 1px;
  height: 28px;
  position: absolute;
  right: 223px;
  bottom: -8px;
  background-color: rgba(255, 254, 254, 0.15);
}

.navbar-sprites {
  display: inline-block;
  margin-right: 50px;
}

.calendar {
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url(../img/css_sprites.png)-106px -49px;
  margin-right: 28px;

}

.forum {
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(../img/css_sprites.png)-58px -10px;
  margin-right: 28px;
  
  /*  transition: all .2s ease-in-out; */
}

.journey {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/css_sprites.png)-50px -50px;
  /*  margin-right: 50px; */

}

.calendar:hover {
  background: url(../img/css_sprites.png) -106px -10px;
}

.forum:hover {
  background: url(../img/css_sprites.png)-10px -10px;
}

.journey:hover {
  background: url(../img/css_sprites.png)-10px -50px;
}

.nav-bar>p {
  font-size: 14px;
  display: inline-block;
}

.nav-bar-options>p {
  font-size: 14px;
  display: inline-block;
}

/* Форма */


.form {
  width: 445px;
  /* height: 584px; */
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  transform: translateY(calc((92vh - 544px) / 2));
  /* transform : translateY (50%); */


  text-align: center;

}

.form-area {
  display: inline-block;
  width: 325px;
  height: 525px;
  /* s                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        */
  margin: 30px 0;
  border-radius: 5px;
}

.form-header-title {
  text-decoration: none;
  color: #434343;
  font-size: 20px;
  text-transform: capitalize;
  float: left;
  margin-bottom: 15px;
}

.form-header-log {
  text-decoration: none;
  padding-top: 6px;
  color: #b1e3c9;
  font-size: 14px;
  text-align: right;
  float: right;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.buttons {
  display: inline-block;
  text-align: center;
  color: #fff;
  text-align: left;
}


.facebook-but {
  float: left;
  margin-right: 10px;
  width: 157px;
  height: 46px;
  font-size: 16px;
  color: white;
  background-color: #305db8;
  border: 0px;
  border-radius: 5px;
  background-image: url(../img/facebook.png);
  background-position: 20px 13px;
  background-repeat: no-repeat;
  position: relative;
  transition: all .2s ease-in-out;
  
}

.facebook-but::after {
  content: '';
  width: 1px;
  height: 28px;
  position: absolute;
  left: 47px;
  top: 9px;
  background-color: rgba(51, 51, 51, 0.27);
}

.google-but {
  float: right;
  width: 157px;
  height: 46px;
  background-color: #df4a32;
  border: 0px;
  border-radius: 5px;
  position: relative;
  background-image: url(../img/Google.png);
  background-position: 13px 15px;
  background-repeat: no-repeat;
  transition: all .2s ease-in-out;
  
}

.google-but::after {
  content: '';
  width: 1px;
  height: 28px;
  position: absolute;
  left: 47px;
  top: 9px;
  background-color: rgba(51, 51, 51, 0.27);
}



.google-but>a {
  padding-left: 66px;
  font-size: 16px;
  color: white;
  display: inline-block;
  padding-top: 15px;
  text-decoration: none;
}

.google-but:hover {
  background-color: #c3412c;
}


.facebook-but>a {
  padding-left: 66px;
  font-size: 16px;
  color: white;
  display: inline-block;
  padding-top: 15px;
  text-decoration: none;
}

.facebook-but:hover {
  background-color: #264b96;
}

/* Горизонтальная линия*/


.sign-up-line {
  margin-top: 37px;
  margin-bottom: 18px;
  height: 1px;
  background-color: rgba(132, 132, 132, .2);
  position: relative;
}

.sign-up-line::after {
  content: 'or';
  font-size: 14px;
  vertical-align: middle;
  color: rgba(132, 132, 132, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 25px;
  background: white;
  text-align: center;
  transform: translate(-50%, -35%);
}


/* ПОЛЯ для заполнения */

::placeholder {
  color: #bebebe;
  opacity: 1;
}

.message-field {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 302px;
  height: 46px;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 8px;
  color: black;
}

.message-field:last-child {
  margin-bottom: 0px;
}

.sign-up-form {
  margin-bottom: 20px;
}

.sign-up-form>input {

  width: 100%;

  border: 1px solid #eaeaea;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.sign-up-form>input:focus {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  outline: none;
}


/* Чекбокс с галочкой  */


input[type="checkbox"] {
  border: 1px solid rgba(190, 190, 190, 255);
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  color: white;
  vertical-align: middle;
  background-image: url("../img/mark.png");
  background-repeat: no-repeat;
  background-position: 50% -150%;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border-color: #eaeaea;

}

input[type="checkbox"]:checked {
  background-position: 50% 50%;
  background-size: 14px 11px;
}

input[type="checkbox"]:focus {
  border: 1px solid #3cb878;
  outline: none;
  border-color: #eaeaea;

}



.check {
  margin-bottom: 22px;
  position: relative;
}

.checkbox {


  width: 20px;
  height: 20px;
  float: left;
}

.checkbox+label {

  padding-top: 5px;

  font-size: 14px;
  float: left;
}

.checkbox+label>a {
  color: #3cb878;
}

/* Кнопка отправки фромы */

.account-but {
  font-size: 16px;
  color: white;
  width: 322px;
  height: 46px;
  background-color: #3cb878;
  padding-top: 15px;
  padding-bottom: 17px;
  border: 0px;
  border-radius: 5px;
  transition: all .2s ease-in-out;

}

.account-but:hover,
.account-but:focus {
  background-color: #329a65;

  outline: none;
}

.account-but>a {
  color: #fff;
  text-decoration: none;
  background-color: #3cb878;
  padding: 13px 99px;

}

.account-but:active {
  transform: translateY(-2px) scale(.98);
}