body{
  background-color: black;
}

.text {
  background-color: black;
  
  margin: 0 auto;
  text-align: justify;
  color: #ffcd12;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.5;
  width: 900px;
  position: absolute;
  right: 50%;
  left: calc(900px - 17%);
  bottom: 0;
  transform: perspective(300px) rotateX(20deg);
  transform-origin: 50% 90%;
  animation-name: wars;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes wars {
  0% {
      top: 100%;
}
  100% {
      top: -80%;
  }
}