.conteiner {
  margin: 0 auto;
  width: 1480px;
  font-family: sans-serif, AdobeInvisFont, Courier, MyriadPro-Regular;

}



.top-section {
  padding: 60px 100px 50px 100px;
}

.top-section-link {
  display: inline-block;
  margin-bottom: 45px;
  text-align: left;
  font-size: 80px;
  color: #4bcaff;
  text-decoration: none;
}

.highlight {
  color: black;
}

.top-navbar {
  display: block;
  font-size: 22px;
  border: 1px solid #818181;
  background-color: #35444f;
  padding-left: 185px;
}

.top-navbar-link {
  display: inline-block;
  padding: 0 42px;
  text-decoration: none;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  padding: 25px 42px;
}

.top-navbar-link:hover {
  margin-right: -2px;

  background-color: #222f3a;
  border-left: 1px solid #818181;
  border-right: 1px solid #818181;
  box-sizing: border-box;
}



.middle-section {
  display: block;
  margin: 0 100px 50px 100px;
  font-size: 29px;
}

.mid-navbar {
  display: inline-block;
  border: 1px solid #35444f;
  margin-right: 52px;
  vertical-align: top;
}

.mid-navbar-back {
  display: block;
  background-color: white;
}

.mid-navbar-back:hover {
  display: block;
  background-color: #dbdbdb;
}

.mid-navbar-link {
  display: inline-block;
  width: 312px;
  padding: 30px 0px 30px 42px;
  color: #aab1b6;
  text-decoration: none;
}

.mid-navbar-link:hover {
  transform: translateX(10px);
  text-decoration: none;
  color: #000;
}

.mid-picture {
  display: inline-block;
  text-align: center;
  /* background-image:url("../img/goat.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #35444f;
  overflow: hidden;
}

.picture {
  display: block;
  padding: 75px 270px;
  transition: transform 1.2s ease-out;

}

.picture:hover {
  transform: scale(1.1);
}

/* transition: scale(1.1) 1.2s ease-out; */



.bottom-section {
  display: block;
  padding: 0px 100px 30px 100px;
}

.bottom-section-text {
  display: block;
  width: 815px;
  font-size: 18px;
  margin: 0 0px 50px 445px;
  text-align: justify;
}

.bottom-section-paragraph {
  display: inline-block;
}

.bottom-navbar {
  display: block;
  background-color: #b4b7ba;
  padding: 22px 0 22px 0px;
  text-align: left;

}

.bottom-navbar-link {
  font-size: 28px;
  padding: 21px 0 2px 0;
  margin-left: 44px;
  text-decoration: none;
  color: #0c1927;

}

.bottom-navbar-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.bottom-copyright-text {
  display: inline-block;
  font-size: 24px;
  padding-left: 100px;

}