@import "variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  background-color: yellow;

}

.main {

  display: flex;
  width: 100%;
  min-width: 320px;
  flex-direction: column;

  &__navbar {
    display: flex;
    justify-content: center;
    background-color: #373c3f;
  }

  &__content {
    display: flex;
    // background-image: url(../img/pizza01.png);
    // background-size: contain;
    // background-repeat: no-repeat;
    justify-content: center;
    background-color: teal;
    // width: 100%;
    // height: auto;

    & img {
      width: 100%;
      height: auto;
    }
  }


}

.menu {
  @extend .container;
  display: flex;
  width: 100%;
  background-color: green;

  &__item {
    margin-top: 4px;
    justify-content: space-between;
    width: 100%;
    height: 6em;
    background-color: teal;
    overflow: hidden;
    position: relative;
    
    & img {
      position: absolute;
      bottom: -20px;
      width: 80%;



    }
  }
}

// .services {
//   display: flex;

//   justify-content: space-between;
//   @extend .container;

//   &__gallery {
//     width: calc(100%/2 - 20px);
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     &-item {
//       width: calc(100%/2 - 10px);
//       & img {
//         width: 100%;
//       }
//     }
//   }

//   &__description {
//     width: calc(100%/2 - 20px);
//   }

//   &__btn {
//     @include yellowBtn(middle)
//   }
// }

@import "gallery";
@import "media";