// @media(max-width: 320px) {
//   .main {
   
//     .main__navbar {
//       background-color: yellow;
//     }
//     .main__content {

      

//     }
//   }
// }

// .services {
//   flex-direction: column;

//   .services__gallery {
//     width: 100%;
//     align-items: center;
//     margin-top: 20px;

//   }
//   .services__gallery-item {
//     width: 100%;
//     text-align: center;
//     background-image: url('/img/services__consulting.png');

//   }

//   .services__description {
//     width: 100%;
//     text-align: center;
//   }
// }

// @media(max-width: 480px) {
//   .main{
//     flex-direction: column;

//     .main__navbar{
//       background-color: green;
//     } 

//     .main__content{
//       width: 100%;
//       align-items: center;
//       margin-top: 20px;

//     }
//   }
// }