$primary: #f1ad1d;

@mixin yellowBtn($size) {
  display: inline-block;
  background-color: $primary;
  text-decoration: none;
  color: white;

  @if($size == small) {
    padding: 20px 25px;
    font-size: 14px;
  } @else if($size == middle) {
    padding: 40px 50px;
    font-size: 20px;
  } @else if($size == biggest) {
    padding: 60px 70px;
    font-size: 24px;
  }
}