.page {
  font-family: Open-sans, sans-serif;
  
}

.header{
  padding-bottom: 43px;
  background-color:#f2f2f2;
}

.nav-pan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d2124;
  height: 70px;
  padding: 0 20px;
}

.nav-pan-links {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.nav-pan-links>a {
  text-transform: uppercase;
  margin-right: 35px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo>p {
  font-weight: bold;
  margin-left: 25px;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.logo-img {
  width: 27px;
  height: 27px;
  background-image: url(../img/logo.png);
}

.search-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../img/search.png);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 404px;
  background-image: url(../img/cityExp.png);
  background-size: cover;
  width: 100%;

  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header-content>h1 {
  font-size: 27px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 44px;
}




.but {
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.subscribe-but {
  width: 170px;
  height: 55px;
  background-color: #89ca62;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.articles-but {
  width: 170px;
  height: 55px;
  background-color: #14b9d5;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

/* ______________________________________________________ */


.posts-section {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1030px;
  font-weight: bold;

}

.posts-section-header {
  color: second-section-header;
  color: #18b4cf;
  font-size: 27px;
  margin-bottom: 52px;
}

.posts-section-content {
  width: 1170px;
  height: 850px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  
}

 


.vanglo {
  background-image: url(../img/vanglo.png);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 370px;
  height: 320px;
  margin-right: 30px;
  margin-bottom: 30px;

}

.vanglo>p {
  font-weight: bold;
  color: #4e5355;
  font-size: 18px;
  margin-top: 280px;
  text-align: center;
}


.sunrise {
  background-image: url(../img/sunrise.png);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 370px;
  height: 441px;
  margin-right: 30px;
  margin-bottom: 30px;

}

.sunrise>p {
  font-weight: bold;
  color: #4e5355;
  font-size: 18px;
  margin-top: 400px;
  text-align: center;
}

.stargaze {
  background-image: url(../img/Stargaze.png);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 370px;
  height: 355px;
  margin-bottom: 30px;

}

.stargaze>p {
  font-weight: bold;
  color: #4e5355;
  font-size: 18px;
  margin-top: 310px;
  text-align: center;
}

.royal {
  background-image: url(../img/Royal.png);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 370px;
  height: 321px;
  margin-right: 30px;
}

.royal>p {
  font-weight: bold;
  color: #4e5355;
  font-size: 18px;
  margin-top: 280px;
  text-align: center;

}

.sunset {
  background-image: url(../img/sunset.png);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 370px;
  height: 309px;
  margin-right: 30px;
}

.sunset>p {
  font-weight: bold;
  color: #4e5355;
  font-size: 18px;
  margin-top: 270px;
  text-align: center;
}





.glorious {
  background-image: url(../img/Glorious.png);
  background-repeat: no-repeat;
  background-color: #fff;
  width: 370px;
  height: 441px;
}
.glorious>p {
  font-weight: bold;
  color: #4e5355;
  font-size: 18px;
  margin-top: 400px;
  text-align: center;
}


.posts-section-content>p {
  color: #353a3d;
  font-size: 18px;
}


/* ------------------GRIDS------------------------ */
/* _______________________________________________ */

 

.clients-section {
  display: grid;
  width: 100%;
  height: 590px;
  grid-template-rows: 226px 1fr 270px;
  grid-template-columns: 4fr 1fr 1fr 4fr;
  grid-gap: 72px;
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-areas:

    "item1 item1 item1 item1"
    "item2 item2 item2 item2"
    "item3 item4 item5 item6"
}

.clients-section-article {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  grid-area: item1;
  align-self: end;
  justify-self: center;
}

.clients-section-line {
  background-color: #169cb4;
  width: 60px;
  height: 3px;
  text-align: center;
  grid-area: item2;
}

.national-post-item {
  background-image: url(../img/national-post.png);
  width: 207px;
  height: 28px;
  grid-area: item3;
  align-self: start;
  justify-self: end;
  margin-top: 7px;
}

.dryme-item {

  background-image: url(../img/Dryme.png);
  width: 135px;
  height: 49px;
  grid-area: item4;
  align-self: start;


}

.house-home-item {

  background-image: url(../img/house-home.png);
  width: 172px;
  height: 42px;
  grid-area: item5;
  align-self: start;

}

.journy-item {

  background-image: url(../img/journey.png);
  width: 141px;
  height: 52px;
  grid-area: item6;
  align-self: start;
  justify-self: start;

}

/* 
_____________________________________________________ */


.top-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 10px;
  width: 100%;
  grid-template-rows: repeat(2, 136px);
  grid-template-columns: repeat(1, 1fr);
  height: 340px;
  font-weight: bold;
}

.top-gallery>h1 {
  text-transform: uppercase;
  font-size: 27px;
  color: #18b4cf;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 8;
  /* align-self: center; */
  justify-self: center;
  align-self: center;
}


.top-gallery-items {
  display: grid;
  grid-template-columns: repeat(7, 14%);
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  /*  grid-gap: 2vh; */
  height: 190px;
}

.img1 {
  background-image: url(../img/01.png);
  width: 271px;
  height: 190px;
}

.img2 {
  background-image: url(../img/02.png);
  width: 271px;
  height: 190px;
}

.img3 {
  background-image: url(../img/03.png);
  width: 271px;
  height: 190px;
}

.img4 {
  background-image: url(../img/04.png);
  width: 271px;
  height: 190px;
}

.img5 {
  background-image: url(../img/05.png);
  width: 271px;
  height: 190px;
}

.img6 {
  background-image: url(../img/06.png);
  width: 271px;
  height: 190px;
}

.img7 {
  background-image: url(../img/07.png);
  width: 271px;
  height: 190px;
}


/* ______________________________________________________ */

.news-menu {
  display: grid;
  
  justify-items: center;
}

/* _____________________________________________________________ */
.first-grid-level {
  display: grid;
  width: 1170px;
  justify-items: center;
  grid-template-columns: 483px auto 322px;
  grid-template-rows: .5fr 1fr;
  margin-bottom: 42px;
  

}

.first-grid-level>h4 {
  text-transform: uppercase;
  font-size: 27px;
  color: #18b4cf;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 8;
  align-self: center;
  justify-self: center;
  align-self: center;
  font-weight: bold;
}

.image1 {
  background-image: url(../img/item1.png);
  width: 483px;
  height: 259px;
}

.image1-text {
  text-align: center;
  width: 320px;
  height: 219px;
  background-color: #f9f7f7;
  padding-top: 40px;
  padding-left: 22px;
  padding-right: 24px;
  justify-self: start;
}

.image1-text>h2 {
  font-size: 18px;
  color: #353a3d;
  font-weight: bold;
  margin-bottom: 22px;
}

.image1-text>p {
  font-size: 14px;
  line-height: 20px;
}

.image2 {
  display: grid;
  background-color: #f9f7f7;
  height: 258px;
  background-image: url(../img/item7.png);
  background-repeat: no-repeat;
  width: 277px;
  justify-self: end;
}

.image2-text {
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
  align-self: end;
  margin-bottom: 15px;
  text-align: right;
}

/* __________________________________________________ */

.second-grid-level {
  display: grid;
  width: 1170px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-self: center;
  grid-column-gap: 60px;
  text-align: right;
  margin-bottom: 64px;
}


.image3 {
  background-color: #f9f7f7;
  width: 554px;
  height: 418px;
  background-image: url(../img/item3.png);
  background-repeat: no-repeat;
  justify-self: start;
  text-align: right;
}

.image3-text {
  margin-top: 280px;
  line-height: 20px;
  text-align: right;
  font-size: 14px;
}

.image3-text>h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  line-height: 20px;
}



.image4 {
  background-color: #f9f7f7;
  width: 554px;
  height: 418px;
  background-image: url(../img/item4.png);
  background-repeat: no-repeat;
  /* justify-self: end; */

}

.image4-text {
  margin-top: 280px;
  line-height: 20px;
  text-align: right;
}

.image4-text>h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  line-height: 20px;
  font-size: 18px;
}

.image4-text>p {
  font-size: 14px;
}

/* _____________________________________________________________ */
.third-grid-level {
  display: grid;
  width: 1170px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-self: center;
  grid-column-gap: 60px;
  text-align: right;
  margin-bottom: 43px;
}


.image3 {
  background-color: #f9f7f7;
  width: 554px;
  height: 418px;
  background-image: url(../img/item3.png);
  background-repeat: no-repeat;
  justify-self: start;
  text-align: right;
}

.image3-text {
  margin-top: 280px;
  line-height: 20px;

  text-align: right;
}

.image3-text>h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  line-height: 20px;
}

.image4 {
  background-color: #f9f7f7;
  width: 554px;
  height: 418px;
  background-image: url(../img/item4.png);
  background-repeat: no-repeat;
  /* justify-self: end; */

}

.image4-text {
  margin-top: 280px;
  text-align: right;

}

.image4-text>h1 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  line-height: 20px;
  font-size: 18px;
}

.image4-text>p {
  font-size: 14px;
}

/* _____________________________________________________________ */


.fourth-grid-level {
  display: grid;
  width: 1170px;
  justify-items: center;
  grid-template-columns: 314px auto auto;
  grid-template-rows: 1fr;
  margin-bottom: 43px;
}

.image7 {
  display: grid;
  background-color: #f9f7f7;
  height: 258px;
  background-image: url(../img/item7.png);
  background-repeat: no-repeat;
  width: 277px;
  justify-self: start;
}

.image7-text {
  font-size: 18px;
  font-weight: bold;
  vertical-align: bottom;
  align-self: end;
  margin-bottom: 15px;
}


.image8 {
  background-image: url(../img/item8.png);
  width: 483px;
  height: 259px;
  justify-self: end;
  text-align: right;

}

.image8-text {
  text-align: center;
  width: 320px;
  height: 219px;
  background-color: #f9f7f7;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 22px;
  justify-self: end;

}


.image8-text>h2 {
  font-size: 18px;
  color: #353a3d;
  font-weight: bold;
  margin-bottom: 22px;
}

.image8-text>p {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

/* 
________________________________+ */


.footer {
  display: grid;
  width: 98%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #1d2124;
  height: 70px;
  padding: 0 20px;
}

.footer-child {
  display: grid;
  display: grid;
  width: 1170px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: center;
  justify-content: stretch;
  align-items: center;
  height: 70px;
}

.footer-child>p {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}

.footer-logo {
  position: relative;
  background-image: url(../img/footer-logo.png);
  width: 64px;
  height: 16px;
  justify-self: end;

}

.footer-logo::before {
  content: url(../img/footer-img.png);
  width: 38px;
  height: 64px;
  position: absolute;
  right: 65px;
}