  @import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans&display=swap'); 
 

.table {
  margin: 0 auto;
  width: 1192px;
  font-family: Arimo ,sans-serif ;
  border: 22px solid #3a4965;
  border-collapse: collapse;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

th {
  vertical-align: middle;
  height: 69px;
  font-size: 16px;
  font-weight: bold;
  color: #525252 ;
  border: 2px solid #cfcfcf;
}

tr {
  border: 2px solid #cfcfcf;
}

/* Заголовок */

.title {
  color: #484848;
}

.title>h1 {
  font-size: 18px;
}

.title>h2 {
  font-size: 30px;
}

/* Секция для контента */


.light-blue {
  background-color: #f2f2f2;
}


.number1,
.number2,
.number3 {
  font-size: 60px;
  color: #484848;
}

.number1:before,
.number2:before,
.number3:before {
  content: '\0024';
}

.number1:after,
.number2:after,
.number3:after {
  content: 'Per Month';
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 18px;
}

sup {
  font-size: 24px;
  vertical-align: top;
}



.blue {
  background-color: #e3e3e3;
}


.standart {
  background-color: #89c331;
  font-size: 24px;
  color: white;

}

.ultimate {
  background-color: #f04a56;
  font-size: 24px;
  color: white;

}

.premium {
  background-color: #20807c;
  font-size: 24px;
  color: white;

}


td {
  vertical-align: middle;
  height: 69px;
  font-size: 16px;
  font-weight: bold;
  color: #9d9d9d;
  border: 1px solid #333333;
}


/* Футер */
.last-сell {
  height: 110px;
}

.but {
  padding: 18px 57px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  border: none;
}




.footer-section:nth-child(4){
  background-color: #89c331;
}

tr:last-child td:nth-child(1){
  background-color: #dddddd;
}
tr:last-child td:nth-child(2){
  background-color: #eeeeee;
}
tr:last-child td:nth-child(4){
  background-color: #eeeeee;
}




.but1 {
  background-color: #484848;
}

.but2 {
  background-color: #89c331;
}

.but3 {
  background-color: #f04a56;
}

.but4 {
  background-color: #20807c;
}


/* Иконки с font-awesome */
.fab {
  font-size: 18px;
}

.fab {
  margin-right: 12px;
}

.fas {
  margin-right: 12px;
}



tfoot button{
  
}




